# Introduction à python

Définir quatre variables distinctes, un entier, un float, un booléen et une chaîne de caractère et affichez-les dans la console.

In [1]:
ent1=2
fl1=2.5
bol1=True
str1="data science"

In [2]:
print(str1)

data science

In [3]:
print(type(str1),type(ent1))

<class 'str'> <class 'int'>

Définir une variable comprenant la chaîne ‘Python pour la Science’, utilisez des opérations sur les chaînes pour afficher ‘PYTHON POUR LA DATA SCIENCE’

In [4]:
str2="Python pour la science"

In [5]:
#méthode pour mettre en maj
str2.upper()

'PYTHON POUR LA SCIENCE'

In [6]:
#connaitre la longueur de la chaine
len(str2)

22

In [7]:
print((str2[:15] + "data" + str2[-8:]).upper())

PYTHON POUR LA DATA SCIENCE

Créez une condition qui affiche une valeur différente en fonction du booléen entré.

In [8]:
bool2=True
type(bool2)

bool

In [9]:
if bool2==True:
    print("C'est vrai")
else:
    print("C'est pas vrai")

C'est vrai

Créez une boucle for qui parcourt un range de 0 à 5 et qui ajoute 1 à une variable à chaque boucle

In [10]:
x1=0
for indice in range(6):
    x1+=1
print(x1)

6

### Les listes

Créez une liste composée de 5 éléments, affichez la longueur de la liste.
Modifiez la dernière valeur de la liste et construisez une seconde liste à partir des 3 dernières valeurs de la liste initiale.

In [11]:
list1=[3,6,8,9,10]

In [12]:
len(list1)

5

In [13]:
list1[-1]=33

In [14]:
list2=list1[-3:]

In [15]:
print(list2)

[8, 9, 33]

A partir d’une liste de valeurs en degrés celsius [0, 10, 20, 35], créez une liste en degrés fahrenheits (9/5*temp+32)

In [16]:
list_celsius=[0,10,20,35]

In [17]:
list_fahr=[9/5*temp+32 for temp in list_celsius]

In [18]:
list_fahr

[32.0, 50.0, 68.0, 95.0]

Créez la chaîne ‘Vive la data science’, transformez-la en une liste de quatre éléments.  Ajoutez les valeurs ‘et’ et ‘Python’ à cette liste.  Affichez la chaîne de caractère obtenue.

In [19]:
str3="Vive la data science"
list3=str3.split(" ")
list3

['Vive', 'la', 'data', 'science']

In [20]:
list3.extend(["et", "python"])

list3=list3+["et", "python"]

In [21]:
str4=" ".join(list3)
str4

'Vive la data science et python et python'

Construire un dictionnaire composé de listes de mots et accédez à un élément d’une des listes du dictionnaire.  Affichez le mot en majuscule

In [22]:
dico1={"France":["Paris","Lyon"],"Espagne":["Madrid","Barcelone"],
       "Italie":["Rome","Turin"]}

In [23]:
dico1['France'].append("Marseille")

In [24]:
dico1.keys()

dict_keys(['France', 'Espagne', 'Italie'])

In [25]:
dico1.values()

dict_values([['Paris', 'Lyon', 'Marseille'], ['Madrid', 'Barcelone'], ['Rome', 'Turin']])

Créer une fonction sans argument qui renvoie une valeur.

In [26]:
def bonjour():
    return "Bonjour"

In [27]:
print(bonjour())

Bonjour

In [28]:
def test2(a:int):
    """ cette fonction ne fait rien
        rien du tout
    """
    return a

In [29]:
test2("44.3")

'44.3'

Créez une fonction lambda qui met en majuscule et qui sépare les mots d’une chaîne de caractère

In [30]:
f=lambda s1,s2: (s1+s2).upper().split()

In [31]:
f("aze ","atr ")

['AZE', 'ATR']

In [32]:
def f2(s1,s2):
    return (s1+s2).upper().split(), (s1+s2).lower().split()

In [33]:
s3,s4=f2("aze ","atr ")

Construire une fonction prenant en entrée deux listes et qui retourne la moyenne de tous les éléments des deux listes (une seule valeur)

In [34]:
def moyenne_listes(list1,list2):
    return sum(list1+list2)/len(list1+list2)

In [35]:
moyenne_listes([2,4,5],[3,2,1])

2.8333333333333335

In [36]:
def moyenne_listes2(list1,list2):
    val=0.0
    for index in list1+list2:
        val+=index
    return val/len(list1+list2)

### Les classes

Définir une classe Client qui s’initialise avec comme variable nouveau_client et ville. 
Créer un objet client1 et affichez les valeurs allouées

In [37]:
class Client:
    def __init__(self):
        self.nouveau_client=True
        self.ville="Paris"

In [38]:
client1=Client()

In [39]:
client1.nouveau_client

True

In [40]:
client1.ville="Tours"

In [41]:
client1.ville

'Tours'

Ajouter les deux nouvelles variables dans l’appel __init__ .
Créer un objet client2 avec des valeurs différentes et affichez les valeurs allouées

In [42]:
class Client2:
    def __init__(self,nouveau_client=True,ville="Paris"):
        self.nouveau_client=nouveau_client
        self.ville=ville

In [43]:
client2=Client2(True,"Tours")

In [44]:
client2.ville="Lyon"

Sur la classe Client ajouter deux méthodes
L’une qui affiche le type de client. L’autre qui renvoie True si le client n’est pas parisien

In [45]:
class Client3:
    """ Classe client qui permet de définir un client
        avec son type et sa ville"""
    
    def __init__(self,nouveau_client=True,ville="Paris"):
        self.nouveau_client=nouveau_client
        self.ville=ville
        
    def type_client(self):
        if self.nouveau_client==True:
            return "Nouveau client"
        else:
            return "Ancien client"
        
    def est_parisien(self):
        """Méthode pour tester si parisien"""
        if self.ville.upper()=="PARIS":
            return True
        else:
            return False
        
    def demenage(self,nouvelle_ville):
        self.ville=nouvelle_ville

In [46]:
client3=Client3(True,"paris")

In [47]:
client3.est_parisien()

True

In [48]:
client3.type_client()

'Nouveau client'

In [49]:
client3.demenage("Rome")

In [50]:
client3.ville

'Rome'

### Créer une bibliothèque

In [51]:
import sys

In [52]:
sys.path

['',
 'C:\\ProgramData\\Anaconda3\\python36.zip',
 'C:\\ProgramData\\Anaconda3\\DLLs',
 'C:\\ProgramData\\Anaconda3\\lib',
 'C:\\ProgramData\\Anaconda3',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\Sphinx-1.5.1-py3.6.egg',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\setuptools-27.2.0-py3.6.egg',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\Emmanuel\\.ipython']

In [53]:
import ma_bib.ma_bib as mb

In [54]:
mb.moyenne_listes2(list1,list2)

13.625

Créer une gestion d’exception pour une fonction prenant en entrée deux input() puis divisez-les, utiliser les différentes erreurs d’exceptions

In [55]:
def fonc_exc():
    int1=input("entrez un entier :")
    int2=input("entrez un entier :")
    
    try:
        print( int(int1)/int(int2))
    except TypeError:
        print("Problème de type")
    except ZeroDivisionError:
        print("Division par 0")
    except:
        print("autre erreur")

In [56]:
fonc_exc()

entrez un entier :2
entrez un entier :3
0.6666666666666666